.itemWrap {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  position: relative;

  .icon {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #e3e3e3;
  }

  .name {
    margin-left: 10px;
    font-weight: 400;
    width: 100px;
  }

  .price {
    position: absolute;
    right: 5px;
    font-size: 16px;
    font-weight: 400;
  }
}
