.itemWrap {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  position: relative;

  .icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #c3c3c3;

    &.boom {
      background-color: #fff;
      background-image: url(../image/bomb.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
    &.lucky {
      background-color: #fff;
      background-image: url(../image/lucky4.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
    &.soso {
      background-color: #fff;
      background-image: none;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }

  .name {
    margin-left: 10px;
    font-weight: 400;
    width: 100px;
  }

  .price {
    position: absolute;
    right: 5px;
    font-size: 16px;
    font-weight: 400;
  }
}
