.startButton {
  width: 100%;
  height: 50px;

  button {
    display: block;
    width: 100%;
    height: 100%;

    border-style: none;
    background-color: #00b8dd;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;

    &:disabled {
      background-color: #b0b0b0;
    }
  }
}
